
body {
  font-size: 16px;
  font-family: "Lucida Grande";
  @media (min-width: 800px) {
    font-size: 18px;
  }

  @media (min-width: 1200px) {
    font-size: 20px;
  }
}

.panel-default>.panel-heading {
	background-color: #337ab7!important;
	color: white!important;
}

input {
    height: 50px !important;
}

.introText {
    ////font-size: 4vw;
    padding-top: 2% ;
    padding-bottom: 2%;
}

.reechappavailable {
    ////font-size: 1vw;
    padding-bottom: 3%;
    text-align: left;
    font-weight: bold;
}


.title {
    ////font-size: 2.5vw;
    color:#0095ff;
    font-weight: bold;
    margin-top: 3.5%;
    margin-left: -53px;
}
.linksection{
    margin-top: 40px;
}
.howitworks{
    text-align: center;
}

.howitworks a{
    ////font-size: 1.0vw;
    color:#0095ff;
}

.playstore {
    text-align: center;
    margin-top: -2%;
}

.footerHeader {
    background-color: #0f0f0f;
    color: #ffffff;
    font-size: 2vw;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footerContents{
    background-color: #0f0f0f;
    font-size: 1.5vw;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #ffffff;
}

.footerContents a{
    color: #ffffff;
}

@media screen and (max-width: 420px){
    h2 {
        font-size: 18px!important;
    }
    h3{
        font-size: 16px!important;
    }

    .reechappavailable {
        //font-size: 3vw;
        font-weight: normal;
    }
    .title {
        margin-left: -45px;
        //font-size: 3.5vw;
        margin-top: 8%;
    }
    .linksection{
        margin-top: 10px;
    }

    .howitworks a{
        //font-size: 3vw;
    }

    .playstore {
        margin-top: 5px;
    }

    .playstore img {
        margin-top: 10px;
    }
    .footerHeader {
        font-size: 3vw;
    }
    .footerContents{
        font-size: 2.5vw;
    }
}

input::-webkit-input-placeholder {
    color: #0095ff !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #0095ff !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #0095ff !important;
}

input:-ms-input-placeholder {
    color: #0095ff !important;
}

.col-centered{
    float: none;
    margin: 0 auto;
}
.phoneImg img{
    height: 450px;
}
@media screen and (max-width: 763px) {
    .phoneImg img{
        height: 225px!important;
        margin-top: 8%;
    }
}

@media screen and (max-width: 420px){
    .chat img{
        width: 80px !important;
        margin-top: 8%;
    }

    .phoneImg img{
        height: 205px!important;
        margin-top: 6%;
    }
    .col-sm-8 h3{margin-top: 2%;text-align: center;}
}
.topBar {
    background-color: #564a4a;
    //font-size: 20px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bottomBar {
    //font-size: 20px; 
    text-align: center;
}
.image-text {
    //font-size:  20px;
    text-align: center;
}
img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
@media (max-width: 950px){
    .section.fp-section,
    .section .fp-tableCell{
        height: auto !important;
        min-height: 100%;
    }
}

.orgName {
    margin-top: 10px;
    font-weight: bold;
}

.aboutreechHeading{
    font-size: 1.5vw;
    text-align: center;
    font-weight: bold;
}

.aboutreechTitleText{
    font-size: 2vw;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 5px;
}

.reechforRealEstateHeading{
    font-size: 2vw;
    text-align: center;
    color: #0095ff;
    padding-top: 20px;
}

.reechforRealEstateHeading1{
    text-align: center;
    font-size: 1.5vw;
    padding-top: 20px;
}
.reechforRealEstateHeading2{
    font-weight: bold;
    padding-top: 10px;
}

@media screen and (max-width: 420px){
    .aboutreechHeading{
        font-size: 4vw;
    }

    .aboutreechText{
        font-size: 4vw;
    }
    .aboutreechTitleText{
        font-size: 4vw;
    }

    .reechforRealEstateHeading{
        font-size: 4vw;
    }

    .reechforRealEstateHeading1{
        font-size: 3.5vw;
        padding-top: 10px;
    }
}
